.container {
  padding: 0 2rem;
  background-color: #e8c06f;
  min-height: 100vh;
}

.main{
  min-height: 100vh;
  padding: 4rem 0;
}

.item{
  padding: 2rem;
}

.grid_photos{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: .5em;
  grid-column-gap: 1em;
}

.pagination{
  display: inline;
}
.pagination button{
  background-color: #ffff;
  border-style: none;
  padding: 6px;
}

.currentPage{
  margin-left: 1rem;
  margin-right: 1rem;
}

@media (max-width: 768px) {
  .grid_photos{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .grid_photos{
    grid-template-columns: repeat(1, 1fr);
  }
}