.container {
  padding: 0 2rem;
  min-height: 100vh;
  background-color: #000f;
  background-image: url('../public/images/background-space.jpeg');
  background-size: cover;
}

.main{
  min-height: 100vh;
  padding: 4rem 0;
}

.title, .text{
  color: #ffff;
}
